/* A simple css reset */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* The Font Family- Really important!! */
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b8e4bc47-72a9-4889-b9c1-f7793a292cd3/df5ddmb-49746064-3cca-4b75-937d-e6f294ff5020.png/v1/fill/w_1280,h_720,q_80,strp/f_14_tomcat_synthwave_by_jonek121_df5ddmb-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvYjhlNGJjNDctNzJhOS00ODg5LWI5YzEtZjc3OTNhMjkyY2QzXC9kZjVkZG1iLTQ5NzQ2MDY0LTNjY2EtNGI3NS05MzdkLWU2ZjI5NGZmNTAyMC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.w5CANr3Yf6W3a6Db2Hj6sL2o8Hi2Vb4GbyS0tBvDQAg")
}

button{
    background-color: rgb(255, 255, 255);
    padding: 0.5em 1em;
    border: none;
    font-size: large;
    text-decoration: none;
}

button:hover{
    background-color: rgb(235, 172, 57);
}

.active {
    background-color: orange;
}

button a{
    text-decoration: none;
    color: rgb(0, 0, 124);
}

/* reset for images to ensure they ar 100% of the parent container width */
img {
    width: 100%;
}
/* The hero section styling- use your OWN Hero Image URL here */
.hero {
    background-image: url('images/347040.png');
    height: 25vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    text-align: center;
    position: relative;
}

/* BIG text styling for the hero section text */
.hero-text {
    font-size: 4em;
    font-weight: bold;
}

/* nice big font on a banner style background */
.topic-title{
    color: rgb(0, 0, 124);
    font-size: 2em;
    padding: 0.1em 3em;
    background-color:  orange;
}

/* Three column grid with a nice big gap */
.topic-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6em;
    /* bring the whole section in off the sides of the page */
    width: 70%;
    /* top margin of 3em and center right/left */
    margin: 3em auto;
}

/* Styling for the individual topic cards rounded edges background color and a drop shadow */
.topic-card{
    background-color: orange;
    color: rgb(0, 0, 124);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/* Styling for the topic card titles */
.topic-card-text{
    font-size: 1.5em;
    margin-bottom: 0.5em;
    /* center align text */
    text-align: center;
}


/* Styling for a footer section to take a bit of spcae at the bottom of the page */
.footer{
    background-color:orange;
    color: rgb(0, 0, 124);
    text-align: right;
    padding: 3em 3em;
}